@model IEnumerable<Autoinsurance.Domain.Entities.Vehicle>

<h2>Lista de Vehículos</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Make)</th>
            <th>@Html.DisplayNameFor(model => model.Model)</th>
            <th>@Html.DisplayNameFor(model => model.Year)</th>
            <th>@Html.DisplayNameFor(model => model.PlateNumber)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehiculo in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => vehiculo.Make)</td>
                <td>@Html.DisplayFor(modelItem => vehiculo.Model)</td>
                <td>@Html.DisplayFor(modelItem => vehiculo.Year)</td>
                <td>@Html.DisplayFor(modelItem => vehiculo.PlateNumber)</td>
                <td>
                    <a href="@Url.Action("Details", "Vehicles", new { id = vehiculo.Id })">Detalles</a> |
                    <a href="@Url.Action("Edit", "Vehicles", new { id = vehiculo.Id })">Editar</a> |
                    <a href="@Url.Action("Delete", "Vehicles", new { id = vehiculo.Id })">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Create", "Vehicles")">Agregar Vehículo</a>
