@model Autoinsurance.Domain.Entities.Vehicle
<h2>Editar Vehículo</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)
    <div>
        <label>Marca:</label>
        @Html.TextBoxFor(m => m.Make)
    </div>
    <div>
        <label>Modelo:</label>
        @Html.TextBoxFor(m => m.Model)
    </div>
    <div>
        <label>Año:</label>
        @Html.TextBoxFor(m => m.Year)
    </div>
    <div>
        <label>Placa:</label>
        @Html.TextBoxFor(m => m.PlateNumber)
    </div>
    <div>
        <label>Cliente:</label>
        @Html.DropDownListFor(m => m.CustomersId, new SelectList(ViewBag.Clientes, "Id", "nombre"))
    </div>
    <button type="submit">Guardar cambios</button>
}
<a href="@Url.Action("Index", "Vehicles")">Volver a la lista</a>
