@model IEnumerable<Autoinsurance.Domain.Entities.Policy>

<h2>Lista de Pólizas</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PolicyNumber)</th>
            <th>@Html.DisplayNameFor(model => model.CustomersId)</th>
            <th>@Html.DisplayNameFor(model => model.VehicleId)</th>
            <th>@Html.DisplayNameFor(model => model.CoverageAmount)</th>
            <th>@Html.DisplayNameFor(model => model.PremiumAmount)</th>
            <th>@Html.DisplayNameFor(model => model.StartDate)</th>
            <th>@Html.DisplayNameFor(model => model.EndDate)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var poliza in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => poliza.PolicyNumber)</td>
                <td>@Html.DisplayFor(modelItem => poliza.CustomersId)</td>
                <td>@Html.DisplayFor(modelItem => poliza.VehicleId)</td>
                <td>@Html.DisplayFor(modelItem => poliza.CoverageAmount)</td>
                <td>@Html.DisplayFor(modelItem => poliza.PremiumAmount)</td>
                <td>@string.Format("{0:dd/MM/yyyy}", poliza.StartDate)</td>
                <td>@string.Format("{0:dd/MM/yyyy}", poliza.EndDate)</td>
                <td>
                    <a href="@Url.Action("Details", "Policies", new { id = poliza.Id })">Detalles</a> |
                    <a href="@Url.Action("Edit", "Policies", new { id = poliza.Id })">Editar</a> |
                    <a href="@Url.Action("Delete", "Policies", new { id = poliza.Id })">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Create", "Policies")">Agregar Póliza</a>
